@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}


.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-block {
    display: block;
    width: 100%;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
}

.form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control-check label {
    flex: 1;
}

.form-control-check input {
    flex: 2;
    height: 20px;
}

:root {
    --primary: #5be1e6;
    --secondary: #fea7e3;
    --secondary-dark: #aa5990;
    --dark: #2f4c4d;
    --light: rgba(253, 253, 253, 1);
    --bg: #f8e2f0;
    --shadow: 2px 0 8px rgba(0, 0, 0, .2);
    --corners: 4px;
}

body {
    background-color: var(--bg);
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    color: var(--dark);
    filter: hue-rotate( 45deg);
}

header {
    margin: 1em auto;
}

button {
    background-color: var(--secondary);
    color: var(--light);
    border-radius: var(--corners);
    box-shadow: var(--shadow);
    text-transform: uppercase;
    border: 1px solid var(--secondary-dark);
    transition: all .2s ease;
    cursor: pointer;
    padding: 1em;
}

button:hover {
    background-color: var(--secondary-dark);
}

form {
    margin: 0;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--dark);
    outline: none;
    font-family: 'Lato' sans-serif;
    font-size: 12pt;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
    ;
}

.game-container {
    height: 300px;
}

.pump {
    margin-top: 80px;
    height: 130px;
    width: 180px;
    position: relative;
    align-self: flex-end;
}

.handle {
    position: absolute;
    top: -80px;
    left: 40px;
    height: 10px;
    width: 80px;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.handle::before {
    content: " ";
    background-color: var(--dark);
    width: 10px;
    height: 80px;
    display: block;
}

.pump:active .handle {
    top: -20px;
    transition: all .05s linear;
}

.pump-box {
    background-color: var(--secondary);
    height: 130px;
    width: 160px;
    border-radius: var(--corners);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bold;
}

.pump-box span {
    background-color: #f8e2f0;
    padding: .5em;
}

.balloon {
    height: 120px;
    width: 100px;
    background-color: var(--primary);
    border-radius: 50%;
    transition: all .2s ease;
    animation: balloon-float 5s ease-in-out infinite;
    align-self: flex-end;
    margin: 0 auto;
    box-shadow: inset -10px -10px 12px rgba(0, 0, 0, .2);
}

.balloon.blue {
    filter: hue-rotate(45deg);
}

.balloon.turqoise {
    filter: hue-rotate(0deg);
}

.balloon.pink {
    filter: hue-rotate(120deg);
}

.balloon.orange {
    filter: hue-rotate(200deg);
}

.balloon.green {
    filter: hue-rotate(300deg);
}

@keyframes balloon-float {
    0%, 100% {
        transform: translateY(-25px)rotate(5deg);
    }
    50% {
        transform: translateY(0px)rotate(-5deg);
    }
}

.card {
    background-color: var(--light);
    padding: 1em;
    box-shadow: var(--shadow);
    border-radius: var(--corners);
}

.bg-dark {
    background-color: var(--dark);
}

.text-light {
    color: var(--light);
}

.btn-dark {
    background-color: var(--dark);
    border-color: var(--dark);
    color: var(--light);
}

.btn-dark:hover {
    background-color: #007276;
}

.container {
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 700px) {
    .container {
        width: 85%
    }
}

.shadow {
    filter: drop-shadow(var(--shadow));
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-flex.space-between {
    justify-content: space-between;
}

.d-flex.space-around {
    justify-content: space-around;
}

.mt-1 {
    margin-top: .5em;
}

.mt-2 {
    margin-top: 1em;
}

.mt-3 {
    margin-top: 1.5em;
}

.mb-1 {
    margin-bottom: .5em;
}

.mb-2 {
    margin-bottom: 1em;
}

.mb-3 {
    margin-bottom: 1.5em;
}

.hidden {
    display: none !important;
}